{% extends "layouts/details_base.html" %}
{% block title %}{{ customer_list.name }}{% endblock %}

{% block content %}
<div class="pc-container">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">{{ customer_list.customer.name }} - {{ customer_list.name }}</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'customer_list_items' %}">Customer List Items</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form method="get" class="position-relative w-100">
                <div class="row">
                    {% for key, value in request.GET.items %} 
                    {% if key != 'search' and key != 'page' and key != 'per_page'%}
                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                    {% endfor %}
                    <div class="col-md-6 mb-2">
                        <div class="position-relative">
                            <i class="feather icon-search position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); z-index: 2;"></i>
                            <input type="text" class="form-control ps-5" id="search" name="search" value="{{ request.GET.search }}" placeholder="Search product">
                        </div>
                    </div>
                    <div class="col-auto ms-auto text-md-end">
                        <select name="per_page" class="form-select" onchange="this.form.submit()" title="Records per page">
                            <option value="10" {% if request.GET.per_page == '10' %}selected{% endif %}>10</option>
                            <option value="25" {% if request.GET.per_page == '25' %}selected{% endif %}>25</option>
                            <option value="50" {% if request.GET.per_page == '50' %}selected{% endif %}>50</option>
                            <option value="100" {% if request.GET.per_page == '100' %}selected{% endif %}>100</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body border-top pro-wrk-edit collapse show">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Score (Grade)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in page_obj %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.product.score_in|default:"-" }} ({{ item.product.grade_in|default:"-" }})</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2" class="text-center">No products in this list.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if page_obj.object_list %}
                <div class="col-sm-12">
                    <span>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}.</span>
                </div>
            {% endif %}
            {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation" class="mt-3">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?{{ current_params }}&page=1&{{ query_string }}"><i class="feather icon-chevrons-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="?{{ current_params }}&page={{ page_obj.previous_page_number }}&{{ query_string }}"><i class="feather icon-chevron-left"></i></a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><i class="feather icon-chevrons-left"></i></a></li>
                        <li class="page-item disabled"><a class="page-link" href="#"><i class="feather icon-chevron-left"></i></a></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?{{ current_params }}&page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?{{ current_params }}&page={{ page_obj.next_page_number }}&{{ query_string }}"><i class="feather icon-chevron-right"></i></a></li>
                        <li class="page-item"><a class="page-link" href="?{{ current_params }}&page={{ page_obj.paginator.num_pages }}&{{ query_string }}"><i class="feather icon-chevrons-right"></i></a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><i class="feather icon-chevron-right"></i></a></li>
                        <li class="page-item disabled"><a class="page-link" href="#"><i class="feather icon-chevrons-right"></i></a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
