{% extends "layouts/details_base.html" %}
{% load static %}
{% load page %}

{% block title %}referred by {{ referrer.name }}{% endblock title %}



{% block content_table %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for user in page_obj %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email|default:"-" }}</td>
                <td>{{ user.mobile|default:"-" }}</td>
                <td>{{ user.created_at|date:"d-m-y" }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-center">No users referred.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content_table %}
